
.jumbotron {
    color: rgb(7, 7, 7); 
    letter-spacing: 6px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-image: url("../images/popbackground.jpg");
    background-size: cover;
    /* font-family: 'Bangers', cursive; */
  }